/* unvisited link */
.my-nav-bar a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
.my-nav-bar a:visited {
    color: green;

}

/* mouse over link */
.my-nav-bar a:hover {
    color: yellow;
}

/* selected link */
.my-nav-bar a:active {
    color: black;
}

.my-nav-bar {
    box-shadow: 0px 7px 0px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 10px 0 10px 0;
    background-color: var(--secondary-color);
    z-index: 2;
}

.nav-control.sticky {
    background: green;
}

.span-3lines {
    color: white;
}

.my-name {
    font-size: 24px;
}

.home-special:nth-child(1) {
    color: green;
}

.nav-l {
    
    margin-left: 20px;
    font-size: 20px;
}


